.main {
    position: relative;
    top: 80.8px;
    padding: .5em 1em;
    display: block;
    overflow: hidden;
}

.login,
.login__wrapper,
.login__wrapper__logo,
.login__wrapper__form,
.register,
.register__wrapper,
.register__wrapper__logo,
.register__wrapper__form,
.home,
.home__wrapper__table,
.crud,
.crud__wrapper,
.login__wrapper__title,
.login__wrapper__form,
{
    display: block;
    overflow: hidden;
}

.login__wrapper,
.register__wrapper,
.crud__wrapper {
    background-color: #fff;
    width: 80%;
    margin: 3em auto;
    padding: 2em;
}

.login__wrapper__logo img,
.register__wrapper__logo img {
    width: 150px;
    object-fit: contain;
    display: block;
    margin: .5em auto;
}

.field {
    position: relative;
    margin: 1.5em 0;
}

.field label {
    position: absolute;
    cursor: initial;
    top: 5px;
    left: -15px;
    font-size: 17px;
    margin: 10px;
    padding: 0 10px;
    background-color: transparent;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    -moz-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    -ms-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    -o-transition: top .2s ease-in-out, font-size .2s ease-in-out;
}

.field label:focus {
    outline: none;
}

.field .active {
    color: #0e3490;
    top: -25px;
    font-size: 12px;
}

.field .active+input,
.field .active+textarea,
.field .active+select {
    border-color: rgba(0, 0, 0, .25) !important;
}

.field .active+p {
    border-bottom: 1px solid rgba(0, 0, 0, .25) !important;
}

.field input,
.field textarea,
.field select,
.field p {
    width: 100%;
    padding: .75em;
    font-size: 17px;
    color: #000;
    -webkit-transition: border-color .5s ease-in;
    -moz-transition: border-color .5s ease-in;
    -ms-transition: border-color .5s ease-in;
    -o-transition: border-color .5s ease-in;
}

.field input:focus,
.field textarea:focus,
.field select:focus {
    outline: none;
}

.header {
    background-color: #0e3490;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header__wrapper {
    padding: 1em 2em;
    width: 100%;
    color: #fff;
}

.header__wrapper .col-md-8 a {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 1em;
    padding: .5em 1em;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}

.header__wrapper .col-md-8 a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.header__wrapper .col-md-4 a {
    color: #fff;
}

.header__wrapper .col-md-4 a:hover {
    color: #ccc !important;
}

.header__wrapper button svg {
    font-size: 18px;
    margin-right: .25em;
    pointer-events: all;
}

.header__wrapper__info {
    display: block;
    width: 100%;
}

.header__wrapper__info p:first-child {
    font-size: 20px;
    font-weight: 300;
}

.header__wrapper__info p:last-child {
    font-size: 13px;
    font-weight: 600;
}

.footer {
    background-color: #0b0b0b;
    position: relative;
    top: 80.8px;
}

.footer__wrapper {
    padding: .65em 2em;
}

.footer__wrapper p {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}

.home__wrapper {
    margin: .25em 0;
    padding: .25em 0;
}

.home__wrapper__title {
    margin: 1em 0 0 0;
    padding: 0 0 .5em 0;
    border-bottom: 1px solid #d0d0d0;
}

.home__wrapper__title p {
    font-size: 22px;
    font-weight: 600;
}

.home__wrapper__title a:not(:last-child) {
    margin-right: .5em;
}

.home__wrapper__table {
    width: 100%;
    padding: 1em;
}

.home__wrapper__table p {
    font-size: 18px;
    font-weight: 600;
    margin: 1em 0;
}

.home__wrapper__table table {
    width: 100%;
}

.home__wrapper__table table thead {
    border-bottom: 1px solid rgba(14, 52, 144, .5);
    color: #0e3490;
}

.home__wrapper__table table tbody {
    color: #000;
}

.home__wrapper__table table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.home__wrapper__table table tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

.home__wrapper__table table tbody tr:nth-child(odd):hover {
    background-color: #fafafa;
}

.home__wrapper__table table tbody tr:nth-child(even):hover {
    background-color: #e6e6e6;
}

.home__wrapper__table table tbody tr .empty {
    text-align: center;
    font-weight: 600;
}

.home__wrapper__table table tbody tr td a {
    color: #000;
}

.home__wrapper__table table tbody tr td form {
    display: inline;
}

.home__wrapper__table table tbody tr td form button {
    color: #000 !important;
}

.home__wrapper__table table tbody tr td a svg:not(:last-child) {
    margin-right: .25em;
}

.home__wrapper__table__link {
    font-size: 15px !important;
}

.home__wrapper__box {
    background-color: #fff;
}

.home__wrapper__box:hover {
    background-color: #fafafa;
}

.home__wrapper__box__info {
    padding: 1em;
    color: #000;
}

.home__wrapper__box__info p:last-child {
    font-size: 14px;
}

.crud__wrapper__title {
    padding: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.crud__wrapper__title a {
    border-radius: 50%;
    padding: .5em;
    background-color: #000;
}

.crud__wrapper__title a svg {
    color: #fff;
    margin-right: 0;
}

.crud__wrapper__title p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #000;
    font-size: 18px;
    cursor: pointer;
    display: block;
    padding: .75em 0;
    text-align: center;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] label:hover,
.tabs [class^="tab"] label:focus,
.tabs [class*=" tab"] label:hover,
.tabs [class*=" tab"] label:focus {
    background-color: #eaeaea !important;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #0e3490 !important;
}

.tabs [class^="tab"] [type="radio"]+.tab__content,
.tabs [class*=" tab"] [type="radio"]+.tab__content {
    display: block;
    opacity: 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:checked+.tab__content,
.tabs [class*=" tab"] [type="radio"]:checked+.tab__content {
    opacity: 1;
}

.tabs .tab {
    width: 25%;
}

.tabs .tab [type="radio"]+.tab__content {
    width: 400%;
    margin-left: 400%;
}

.tabs .tab [type="radio"]:checked+.tab__content {
    margin-left: 0;
}

.tabs .tab:nth-child(2) [type="radio"]:checked+.tab__content {
    margin-left: -100%;
}

.tabs .tab:nth-child(3) [type="radio"]:checked+.tab__content {
    margin-left: -200%;
}

.tabs .tab:last-child [type="radio"]:checked+.tab__content {
    margin-left: -300%;
}