.login,
.login__wrapper,
.login__wrapper__logo,
.login__wrapper__form,
.register,
.register__wrapper,
.register__wrapper__logo,
.register__wrapper__form {
    display: block;
    overflow: hidden;
}

.login__wrapper,
.register__wrapper {
    background-color: #fff;
    width: 80%;
    margin: 3em auto;
    padding: 2em;
}

.login__wrapper__logo img,
.register__wrapper__logo img {
    width: 150px;
    object-fit: contain;
    display: block;
    margin: .5em auto;
}

.field {
    position: relative;
    margin: 1.5em 0;
}

.field label {
    position: absolute;
    cursor: initial;
    top: 5px;
    left: -15px;
    font-size: 17px;
    margin: 10px;
    padding: 0 10px;
    background-color: transparent;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    transition: top .2s ease-in-out, font-size .2s ease-in-out;
}

.field label:focus {
    outline: none;
}

.field .active {
    top: -25px;
    font-size: 12px;
}

.field input,
.field textarea,
.field select {
    width: 100%;
    padding: .75em;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 17px;
    color: #000;
}

.field input:focus,
.field textarea:focus,
.field select:focus {
    outline: none;
}