*,
 :after,
 :before {
    box-sizing: border-box;
}

html {
    top: 0;
    left: 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    line-height: 1.5;
    background-color: #f2f2f2;
}

a {
    background: transparent;
    text-decoration: none;
}

a:active,
a:hover,
a:link,
a:visited {
    background: transparent;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

textarea {
    resize: none;
}

.no-padding {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.shadow {
    box-shadow: 0px 1px 15px -2px #424242;
}

.shadow--outset {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.shadow--inset {
    box-shadow: -5px -5px 13px -6px #0b0b0b inset;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
}

.btn--sm {
    border-radius: 5px;
    border: none;
    padding: .5em 1em;
    cursor: pointer;
}

.btn-standard {
    background: #eff3f6 !important;
    background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%) !important;
    color: #000;
    border: 1px solid #9c9c9c;
}

.btn-standard:hover {
    background: #e6ebf1 !important;
    background: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%) !important;
}

.btn-standard--primary {
    background: #243359 !important;
    background: linear-gradient(-180deg, #2c4fa9 0%, #243359 90%) !important;
    color: #fff !important;
    /* border: none; */
}

.btn-standard--primary:hover {
    background: #0d1936 !important;
    background: linear-gradient(-180deg, #0e3490 0%, #0d1936 90%) !important;
}

.btn-standard--secondary {
    background: #353535 !important;
    background: linear-gradient(-180deg, #000000 0%, #353535 90%) !important;
    color: #fff !important;
}

.btn-standard--secondary:hover {
    background: #0d1936 !important;
    background: linear-gradient(-180deg, #353535 0%, #000000 90%) !important;
}

.btn-standard--delete {
    background: #fb2424 !important;
    background: linear-gradient(-180deg, #fb2424 0%, #b50000 90%) !important;
    color: #fff !important;
    /* border: none; */
}

.btn-standard--delete:hover {
    background: #ad0606 !important;
    background: linear-gradient(-180deg, #e84141 0%, #ad0606 90%) !important;
}

.btn-standard--transparent {
    background: transparent !important;
    color: #fff !important;
    padding: 0;
    /* border: none; */
}

.color {
    color: #fff;
}

.color--black {
    color: #0b0b0b !important;
}

.color--red {
    color: #fa0303 !important;
}

.color--orange {
    color: #ffa600 !important;
}

.color--green {
    color: #05BE05 !important;
}

.color--primary {
    color: #0e3490;
}

input,
select,
textarea {
    border: none !important;
    border-bottom: 1px solid #cbcbcb !important;
    border-radius: 0 !important;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a svg {
    margin-right: .25em;
}

label {
    margin: 0 !important;
}

.no-arrow::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}